*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box ;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
}
body{
display: flex;
justify-content: center; 
align-items: center;
height: 100vh;
background-color:white;
}
#todoList{
    background-image: linear-gradient(to left top, #f8f8f8, #ececec, #e0dfdf, #d4d3d3, #c8c7c7);
width: 430px;
 min-height: 300px;
 padding: 10px;
 border-radius: 3px;
 display: flex;
 flex-direction: column;
justify-content: center; 
align-items: center;
box-shadow: 0px 25px 11px -21px rgba(0,0,0,0.45);
}
h1{
    color: #560CC6;
    font-size: 48px;
    padding: 30px;
   
    /* justify-content: center;
    align-items: center; */

}
.task-row #newTask{
    width: 300px; 
    height: 35px;
    padding:10px;
    color:#560CC6;
    border: 1px solid ;
    outline: none;
    border-radius: 3px;
}
.task-row #addTask{
    height: 35px; 
    width: 50px;
     border: none;
    outline: none;
    background:#560CC6;
     color: #FFF;
    border-radius: 3px;
    cursor: pointer;
}
.task {
    list-style: none;
    margin: 5px auto;
    display: flex;
    align-items: center;
    gap: 5px;
}
.task input[type="text"] {
    width: 270px;
    height: 30px;
    padding: 10px;
    border: 1px solid #560CC6;
    outline: none;
    border-radius: 3px;
    color: #560CC6;
    text-transform: capitalize;
    background-color: #FFF;
}
.strikethrough{
   text-decoration: line-through;
    color: #FFF;
    background: #560CC6;
}
.task-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
button {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: #560CC6;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{

    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: #560CC6;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}